@media screen and (min-width: 768px) {
  #menu {
    display: none;
  }

  nav {
    display: flex !important;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
  }

  .navigation a {
    border-top: none;
  }

  #temple-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
  }
}
